<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Jstagram</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

</head>
<body class="bg-light">

<nav th:replace="layout/header::header"></nav>
<div class="mt-5 pt-5 ">
    <div class="container">
    <h3>My info</h3>
        이메일 : <span th:text="${user.email}"></span> <br/>
        아이디 : <span th:text="${user.memberId}"></span><br/>
        생년월일 : <span th:text="${user.birth}"></span><br/>
        핸드폰 : <span th:text="${user.phone}"></span><br/>
        설명 : <span th:text="${user.text}"></span><br/>
        가입날짜 : <span th:text="${user.createdDate}"></span><br/>

    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a> <br/>
        <a sec:authorize="isAuthenticated()" th:href="@{/user/withdraw}">회원 탈퇴</a>
    </div>
</div>
</body>
</html>