<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--<meta http-equiv="refresh" content="3; url=/" />-->
<head>
    <meta charset="UTF-8">
    <title>Jstagram</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

</head>
<body class="bg-light">

<nav th:replace="layout/header::header"></nav>
<div class="mt-5 pt-5 "> <!-- 본문-->
    <div class="container">
        <div class="row justify-content-center">

            <div class="card mb-5 " style="width: 614px;" th:each="post : ${postList}">
                <div class="card-header bg-white "><a class="text-body font-weight-bold text-monospace "
                                                      th:href="'/detail/'+${post.id}"
                                                      th:text="${mapList.get(post.author)}"></a>
                    <button type="button" class="close" aria-label="Close" sec:authorize="isAuthenticated()" th:if="${post.author.toString().equals(user.id.toString())}">
                        <a th:href="'/delete/'+${post.id}" aria-hidden="true">&times;</a>
                    </button>
                </div>

                <img th:src="${post.image}" class="card-img-top" alt="...">

                <div class="card-body pt-2 pb-0  border border-bottom border-gray">
                    <section>
                        <span>
                            <i class="far fa-heart fa-2x"></i>
                        </span>
                        <a style="color:black"
                           th:href="'/detail/'+${post.id}">
                            <i class="far fa-comment fa-2x pl-2"></i>
                        </a>
                    </section>
                    <span style="font-size:90%" class="card-title font-weight-bold"
                          th:text="${mapList.get(post.author)}"></span>
                    <span style="font-size:80%" class="card-text" th:text="${post.content}"></span><br/>
                    <div style="max-height: 100px;" class="overflow-auto">
                        <p class="mb-0" th:each="comment : ${comments.get(post.id)}">
                        <span style="font-size:85%" class="card-title font-weight-bold"
                              th:text="${mapList.get(comment.author)}"></span>
                            <span style="font-size:75%" class="card-text" th:text="${comment.comment}"></span>
                        </p>
                    </div>
                    <p><a th:href="'/detail/'+${post.id}" class="small mb-0 text-muted"
                          th:text="${#calendars.format(post.regDate,'MM월 dd일 ')}"></a>
                    </p>
                </div>

                <!--<a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>-->
                <!--<a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>-->
                <form th:action="@{/comments}" method="post">
                    <div class="form-row card-footer w-auto m-0" sec:authorize="isAuthenticated()" >
                        <div class="col d-none"  >
                            <input type="number" class="form-control" placeholder="작성자" id="comment_user_id"
                                   name="author" th:value="${user.id}" >
                        </div>
                        <input type="hidden" id="comment_post_id" name="postId" th:value="${post.id}">
                        <div class="col-10">
                            <input type="text" class="form-control" id="comment_text" name="comment"
                                   placeholder="댓글 달기">
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-secondary" type="submit" id="comment_insert">작성</button>
                        </div>
                    </div>
                    <div sec:authorize="isAnonymous()" class="form-row card-footer w-auto m-0" >
                        로그인 후 댓글을 이용하실 수 있습니다.
                    </div>
                </form>

            </div>



        </div>
    </div>
</div>


</div>

</body>
</html>